ErrorDocument 404 /404

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /sandbox/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9]+)$ index.php?id=$1 [L,NC,QSA]

</IfModule>
