#board {
	background: green url("res/grass.png") center center repeat;
	width: 800px;
	height: 400px;
	border: 10px solid #563101;
	box-shadow: 0px 20px 0px #3d2505, inset 0px 20px 0px #3d2505;
	margin: 0px auto;
}

#doge {
	background: transparent url("res/down.gif") center center no-repeat;
	position: relative;
	top: 157px;
	left: 357px;
	width: 86px;
	height: 86px;
	margin-bottom: -86px;
	z-index: 90;
}

.poop {
	background: transparent url("res/poop.gif") center center no-repeat;
	position: relative;
	width: 20px;
	height: 20px;
	margin-bottom: -20px;
	z-index: 80;
}

#controls {
	position: relative;
	top: 30px;
	left: 10px;
	z-index: 99;
}

.control {
	background-color: #fafafa;
	display: inline-block;
	color: #444444;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace, arial;
	text-align: center;
	padding: 5px 0px;
	border-radius: 3px;
	box-shadow: 0px 5px 0px #dfdfdf;
	width: 40px;
	margin-bottom: 10px;
	opacity: 0.9;
}

.control.focus {
	background-color: #eda240;
	color: #ffffff;
	box-shadow: 0px 5px 0px #d0831e;
	opacity: 1;
}

#control-w {
	display: block;
	position: relative;
	left: 45px;
}

#control-p {
	display: block;
	width: 130px;
}
